extends layout

block content
    h1 Index
    ul
        each item in jdata
            li
                a(href='/user/man/#{ item.id }') #{ item.name } - #{ item.age }
                span #{ item.birthday }
                span #{ item.createdAt }
                span #{ item.isMale }
    p
        a(href='/user/create') Create
