extends ../layout

block content
    h1 Articles list
    ul
        each item in articles
            li
                h2
                    a(href="/articles/post/#{ item.id }") #{ item.title }
                    | .
                    small #{ item.createdAt }
                p
                    each tag in item.tags
                        a(href="/articles/tag/#{ tag }") #{ tag }
                        | .

    p
        a(href="/articles/create") Create
